In [65]:
# !python -m pip install geopandas
import pandas as pd
import numpy as np
import geopandas as gpd
from scipy.stats import zscore
import glob

In [66]:
import os

xls = pd.ExcelFile('../gaiins/data/ConsolidatedCountyCrops_V3.xlsx')
bananas = pd.read_excel(xls, 'Bananas')
barley = pd.read_excel(xls, 'Barley')
cabbages = pd.read_excel(xls, 'Cabbages')
cassava = pd.read_excel(xls, 'Cassava')
chickpeas = pd.read_excel(xls, 'chickpeas')
cocoyams = pd.read_excel(xls, 'cocoyams')
cowpeas = pd.read_excel(xls, 'CowPeas')
dolichos = pd.read_excel(xls, 'Dolichos')
beans = pd.read_excel(xls, 'DryBeans')
fingermillet = pd.read_excel(xls, 'FingerMillet')
gardenPeas = pd.read_excel(xls, 'GardenPeas')
grainamaranth = pd.read_excel(xls, 'GrainAmaranth')
gardenpeas = pd.read_excel(xls, 'GardenPeas')

kales = pd.read_excel(xls, 'Kales')
macadamia = pd.read_excel(xls, 'Macadamia')
maize = pd.read_excel(xls, 'Maize')
mangoes = pd.read_excel(xls, 'Mangoes')
millet = pd.read_excel(xls, 'Millet')
pearlmillet = pd.read_excel(xls, 'PearlMillet')
pigeonpeas = pd.read_excel(xls, 'PigeonPeas')
rice = pd.read_excel(xls, 'Rice')
simsim = pd.read_excel(xls, 'Simsim')
Sorghum = pd.read_excel(xls, 'Sorghum')
soyabeans = pd.read_excel(xls, 'SoyaBeans')
sweetpotatoes = pd.read_excel(xls, 'SweetPotatoes')
wheat = pd.read_excel(xls, 'Wheat')
yams = pd.read_excel(xls, 'Yams')

In [67]:
# concatenate the dataframes
crops=pd.concat([bananas,barley,cabbages,cassava,chickpeas,cocoyams,
                 cowpeas,dolichos,beans,fingermillet,gardenPeas,grainamaranth,
                 gardenpeas,kales,macadamia,maize,mangoes,millet,pearlmillet,pigeonpeas,
                 rice,simsim,Sorghum,soyabeans,sweetpotatoes,wheat,yams],ignore_index=True)
crops['county1']=crops['county']

In [68]:
# Set county1 names to lower case
crops.crop=crops.crop.str.lower()
crops.county1=crops.county1.str.lower()

crops.columns=crops.columns.str.lower()
crops.columns=crops.columns.str.strip()
crops.columns=crops.columns.str.replace(' ', '', regex=True)#remove space in between

crops.crop=crops.crop.str.lower()
crops.crop=crops.crop.str.strip()
crops.crop=crops.crop.str.replace(' ', '', regex=True)#remove space in between
crops.crop=crops.crop.str.replace('-', '', regex=True)#remove space in between

crops.county1=crops.county1.str.lower()
crops.county1=crops.county1.str.strip()
crops.county1=crops.county1.str.replace(' ', '', regex=True)#remove space in between
crops.county1=crops.county1.str.replace('-', '', regex=True)#remove space in between
# crops['yield2']=crops['production_mt']/crops['area_ha']

In [ ]:
# read and clean shapefile
kenya_county=gpd.read_file('../ kenya\data\shp\gadm41_KEN_1.shp')

In [70]:
# read shape files
# def extractcrop(cropname):
#     df=crops.loc[crops['crop']==cropname]
df=crops.loc[crops['crop']=='maize'].reset_index()
df=df.groupby(['county1'],as_index=False).agg({'yield_mt_ha':'mean'})
# shp=pd.mer

      county1  yield_mt_ha
0     bungoma     2.814286
1        embu     0.968714
2     makueni     0.557143
3      nakuru     2.391429
4  uasingishu     3.724000

In [ ]:
#reading cropst and extracting districts
crops= pd.read_csv('data/crops/zmb_n_25_chirps__newmask_1999_2023_maize.csv')
crops = pd.read_csv(r'data/crops/Zambia_District _Maize_Forecasting_2011_2022.xlsx - 2022.csv', header=1)
postharvest=pd.read_csv('data/postharvest/postharvest_cleaned.csv')

# change cname to district
crops.rename(columns={'cname':'district'}, inplace=True)

In [ ]:
# remove spaces
crops.columns=crops.columns.str.lower()
crops.columns=crops.columns.str.strip()
crops.columns=crops.columns.str.replace(' ', '', regex=True)#remove space in between

crops.columns=crops.columns.str.lower()
crops.columns=crops.columns.str.strip()
crops.columns=crops.columns.str.replace(' ', '', regex=True)#remove space in between

crops.district=crops.district.str.lower()
crops.district = crops.district.str.strip()
crops.district=crops.district.str.replace('-', '', regex=True)#remove hyphen
crops.district=crops.district.str.replace(' ', '', regex=True)#removes spaces anywhere

# remove all white spaces, turn to lower case and
crops.district=crops.district.str.lower()
crops.district = crops.district.str.strip()
crops.district=crops.district.str.replace('-', '', regex=True)#remove hyphen
crops.district=crops.district.str.replace(' ', '', regex=True)#removes spaces anywhere
crops.district=crops.district.str.replace("'", '', regex=True)#removes apostrophe

# remove spaces in other columns as well
crops.planted_ha = crops.planted_ha.str.strip()
crops.planted_ha=crops.planted_ha.str.replace(',', '', regex=True)#removes spaces anywhere

crops.harvested_ha = crops.harvested_ha.str.strip()
crops.harvested_ha=crops.harvested_ha.str.replace(',', '', regex=True)#removes spaces anywhere

crops.production_mt = crops.production_mt.str.strip()
crops.production_mt=crops.production_mt.str.replace(',', '', regex=True)#removes spaces anywhere

In [ ]:
# def missingdistricts(data1, data2):
#     empty_list=[]
#     for d in list(data1.district.unique()):
#         if d not in list(data2.district.str.lower().unique()):
#             empty_list.append(d)
#         else:
#             pass
#     return empty_list
# districts_uncommon=missingdistricts(data1=crops, data2=crops)

# districts_uncommon
# def replacedistrict(districts, data):
#     districts=missingdistricts(data1=crops, data2=crops)
#     for d in districts:
#         data1['district'] = data1['district'].str.replace(r'^{}milenge$', 'milengi', regex=True)

#     for d in 

# crops['district'] = crops['district'].str.replace(r'^milenge$', 'milengi', regex=True)
# crops['district'] = crops['district'].str.replace(r'^chienge$', 'chiengi', regex=True)

In [ ]:




# drop non district data
crops['district'] = crops['district'].str.replace(r'^milenge$', 'milengi', regex=True)
crops['district'] = crops['district'].str.replace(r'^chienge$', 'chiengi', regex=True)
# df['P'] = df['P'].str.replace(r'\D+', '', regex=True).astype('int')

# check district names such as total
def checkdistricts(data1, data2):
    d_list1=[]
    d_list2=[]
    for d in list(data1.district.unique()):
        if d not in list(data2.district.str.lower().unique()):
            d_list1.append(d)
            # print('distiricts not common are:{}'.format(empty_list1))
        else:
            d_list2.append(d)
    return d_list2
# check and replace then drop the non-districts
def cleandistrict(data1,data2):
    d_list=checkdistricts(data1, data2)
    districts_not_common_df=data1[~(data1.district.isin(d_list))]
    d_not_list=list(districts_not_common_df.district.unique())
    data1=data1[~(data1.district.isin(d_not_list))]
    data1 = data1.drop_duplicates()
    return data1
crops=cleandistrict(data1=crops,data2=crops)
crops

,province,district,planted_ha,harvested_ha,production_mt,yield(mt/ha),year
0,Central,chibombo,69254,52256,148888,2.15,2011
1,NaN,kabwe,5526,5084,25637,4.64,2011
2,NaN,kapirimposhi,48651,37962,103335,2.12,2011
3,NaN,mkushi,34536,28538,130000,3.76,2011
4,NaN,mumbwa,35944,29544,95568,2.66,2011
...,...,...,...,...,...,...,...
990,NaN,lukulu,7722,6775,9435,1.22,2022
991,NaN,mongu,12433,9711,11025,0.89,2022
992,NaN,senanga,19309,10295,11132,0.58,2022
993,NaN,sesheke,17756,10282,18585,1.05,2022
994,NaN,shangombo,20788,15981,24396,1.17,2022

In [ ]:
# drop province
crops=crops.drop('province', axis=1)

In [ ]:
# clean crops survey data
print(len(crops))
#drop duplicate inputs
crops = crops.drop_duplicates()
print(len(crops))
crops

886
886

         district planted_ha harvested_ha production_mt  yield(mt/ha)  year
0        chibombo      69254        52256        148888          2.15  2011
1           kabwe       5526         5084         25637          4.64  2011
2    kapirimposhi      48651        37962        103335          2.12  2011
3          mkushi      34536        28538        130000          3.76  2011
4          mumbwa      35944        29544         95568          2.66  2011
..            ...        ...          ...           ...           ...   ...
990        lukulu       7722         6775          9435          1.22  2022
991         mongu      12433         9711         11025          0.89  2022
992       senanga      19309        10295         11132          0.58  2022
993       sesheke      17756        10282         18585          1.05  2022
994     shangombo      20788        15981         24396          1.17  2022

[886 rows x 6 columns]

In [ ]:
# convert appropriate columns to numeric
crops.planted_ha=pd.to_numeric(crops.planted_ha)
crops.harvested_ha=pd.to_numeric(crops.harvested_ha)
crops.production_mt=pd.to_numeric(crops.production_mt)
crops['yield(mt/ha)']=pd.to_numeric(crops['yield(mt/ha)'])

In [ ]:

#calculate yield
crops = crops.groupby(['district','year'],as_index=False).sum()
crops['yield'] = crops['production_mt'] / crops['planted_ha']
crops['yield_h'] = crops['production_mt'] / crops['harvested_ha']

In [ ]:
# #calculate z scores of yield and flag any anomalies
df1 = []
# # crops = list(crops.reset_index())
for d in list(crops.district.unique()):
    df = crops.loc[crops['district']==d].copy()
    df['zyield'] = zscore(df['yield'])
    df1.append(df)
    df2=pd.concat(df1)

In [ ]:
# add a flag to the dataframe

df2['flag'] = 0
df2['flag'].loc[(((df2['zyield']>1.96).copy())|((df2['zyield']<-1.96).copy()))]= 1
df2['flag'].loc[(((df2['zyield']>2.58).copy())|((df2['zyield']<-2.58).copy()))] = 2
crops_district=df2
crops_district

C:\Users\kasit\AppData\Local\Temp\ipykernel_23720\1425509851.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['flag'].loc[(((df2['zyield']>1.96).copy())|((df2['zyield']<-1.96).copy()))]= 1
C:\Users\kasit\AppData\Local\Temp\ipykernel_23720\1425509851.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['flag'].loc[(((df2['zyield']>2.58).copy())|((df2['zyield']<-2.58).copy()))] = 2

,district,year,planted_ha,harvested_ha,production_mt,yield(mt/ha),yield,yield_h,zyield,flag
0,chadiza,2011,21879,21293,42951,1.96,1.963115,2.017142,-0.513418,0
1,chadiza,2012,23894,21453,51340,2.15,2.148657,2.393138,-0.050325,0
2,chadiza,2013,24901,23476,50022,2.01,2.008835,2.130772,-0.399306,0
3,chadiza,2014,25395,22957,61135,2.41,2.407364,2.663022,0.595381,0
4,chadiza,2015,25379,21825,51345,2.02,2.023129,2.352577,-0.363629,0
...,...,...,...,...,...,...,...,...,...,...
881,zambezi,2018,4682,3941,7595,1.62,1.622170,1.927176,-0.559302,0
882,zambezi,2019,5885,3990,6973,1.18,1.184877,1.747619,-1.606755,0
883,zambezi,2020,7193,6031,12153,1.69,1.689559,2.015089,-0.397884,0
884,zambezi,2021,6350,5533,18935,2.98,2.981890,3.422194,2.697649,2
885,zambezi,2022,5214,4587,10010,1.92,1.919831,2.182254,0.153689,0

In [ ]:
# weedout outliers if any

In [ ]:
# # save distric level data to csv
crops_district.to_csv('data/crops/zambia_crops_district_data_clean.csv', index=False)

In [ ]:
# read out shapefile and rename columns appropriately
# read data
zambia_district_shp=gpd.read_file('data/shp/zmb_district_cleaned.shp')

# rename crops column to same name as shapefile
crops_district.rename(columns={'district':'district_b'}, inplace=True)

# merge
crops_shp=pd.merge(zambia_district_shp,crops_district, on='district_b')

In [ ]:
# aggregate to province level
crops_province=crops_shp.groupby(['province_b','year'], 
                                           as_index=False).agg({'production_mt':'sum','planted_ha': 'sum', 'harvested_ha': 'sum'})

In [ ]:
# calculate province level yield 
crops_province['yield']=crops_province['production_mt']/crops_province['planted_ha']
crops_province['yield_h']=crops_province['production_mt']/crops_province['harvested_ha']

crops_province

,province_b,year,production_mt,planted_ha,harvested_ha,yield,yield_h
0,central,2011,558493,211185,169991,2.644568,3.285427
1,central,2012,494215,184049,156385,2.685236,3.160246
2,central,2013,478734,217001,159372,2.206137,3.003878
3,central,2014,723762,256406,217439,2.822719,3.328575
4,central,2015,484723,273008,164809,1.775490,2.941120
...,...,...,...,...,...,...,...
115,western,2018,85107,118136,85908,0.720415,0.990676
116,western,2019,22758,132120,22961,0.172252,0.991159
117,western,2020,110203,130010,90384,0.847650,1.219276
118,western,2021,110314,129580,96459,0.851320,1.143636
119,western,2022,120330,114419,80208,1.051661,1.500224

In [ ]:
# check if file exists and if not save

# Give the filename you wish to save the file to
filename = 'data/crops/zambia_crops_province_data_clean.csv'

# Use this function to search for any files which match your filename
files_present = glob.glob(filename)


# if no matching files, write to csv, if there are matching files, print statement
if not files_present:
    crops_province.to_csv('data/crops/zambia_crops_province_data_clean.csv',index=False)
else:
    print('WARNING: This file already exists!')

WARNING: This file already exists!

In [ ]:
# overwrite csv
crops_province.to_csv('data/crops/zambia_crops_province_data_clean.csv', index=False)