In [1]:
# import packages
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
# read files
preharvest= pd.read_csv('data/preharvest/Zambia_District _Maize_Forecasting_2011_2022.xlsx - 2022.csv')

# set row 1 to column names and remove white spaces and convert to lower case
preharvest.columns=preharvest.iloc[0].to_list()
preharvest.columns= preharvest.columns.str.strip().str.lower()
preharvest.columns=preharvest.columns.str.replace(' ', '', regex=True)
preharvest=preharvest[1:]
preharvest.columns
preharvest=preharvest[['district', 'planted_ha', 'harvested_ha', 'production_mt','yield(mt/ha)', 'year']]

In [3]:
preharvest['district']=preharvest['district'].str.strip()
preharvest['district']=preharvest['district'].str.replace(' ', '-', regex=True)
preharvest['district']=preharvest['district'].str.replace('-', '', regex=True)
preharvest['district']=preharvest['district'].str.replace("'", "", regex=True)
preharvest['district']=preharvest['district'].str.lower()
preharvest['planted_ha']=preharvest['planted_ha'].str.replace(' ', '', regex=True)
preharvest['planted_ha']=preharvest['planted_ha'].str.replace(',', '', regex=True)
preharvest['harvested_ha']=preharvest['harvested_ha'].str.replace(' ', '', regex=True)
preharvest['harvested_ha']=preharvest['harvested_ha'].str.replace(',', '', regex=True)
preharvest['production_mt']=preharvest['production_mt'].str.replace(' ', '', regex=True)
preharvest['production_mt']=preharvest['production_mt'].str.replace(',', '', regex=True)
preharvest['yield(mt/ha)']=preharvest['yield(mt/ha)'].str.replace(' ', '', regex=True)
preharvest['year']=preharvest['year'].str.replace(' ', '', regex=True)

preharvest.district.unique()
preharvest.columns

Index(['district', 'planted_ha', 'harvested_ha', 'production_mt',
       'yield(mt/ha)', 'year'],
      dtype='object')

In [4]:
# mask off non district data
preharvest.district.unique()
non_district=['total', 'provtotal','provincialtotal']
preharvest_empty_df=pd.DataFrame(columns=['district', 'planted_ha', 'harvested_ha', 'production_mt','yield(mt/ha)', 'year'])
for i in non_district:
    preharvest=preharvest.loc[preharvest['district']!=i]
    preharvest=pd.concat([preharvest_empty_df,preharvest], axis=0)
preharvest.district.unique()

array(['chibombo', 'kabwe', 'kapirimposhi', 'mkushi', 'mumbwa', 'serenje',
       'chililabombwe', 'chingola', 'kalulushi', 'kitwe', 'luanshya',
       'lufwanyama', 'masaiti', 'mpongwe', 'mufulira', 'ndola', 'chadiza',
       'chama', 'chipata', 'katete', 'lundazi', 'mambwe', 'nyimba',
       'petauke', 'chienge', 'kawambwa', 'mansa', 'milenge', 'mwense',
       'nchelenge', 'samfya', 'chongwe', 'kafue', 'luangwa', 'lusaka',
       'chilubi', 'chinsali', 'isoka', 'kaputa', 'kasama', 'luwingu',
       'mbala', 'mpika', 'mporokoso', 'mpulungu', 'mungwi', 'nakonde',
       'chavuma', 'kabompo', 'kasempa', 'mufumbwe', 'mwinilunga',
       'solwezi', 'zambezi', 'choma', 'gwembe', 'itezhitezhi', 'kalomo',
       'kazungula', 'livingstone', 'mazabuka', 'monze', 'namwala',
       'siavonga', 'sinazongwe', 'kalabo', 'kaoma', 'lukulu', 'mongu',
       'senanga', 'sesheke', 'shangombo', 'mafinga', 'ikelenge'],
      dtype=object)

In [5]:
# sort by districts
preharvest=preharvest.sort_values('district',ascending=True, axis=0,ignore_index=True)

In [6]:
# calculate yield
# convert to numeric
preharvest['production_mt']=pd.to_numeric(preharvest['production_mt'], errors='coerce')
preharvest['planted_ha']=pd.to_numeric(preharvest['planted_ha'], errors='coerce')
preharvest['harvested_ha']=pd.to_numeric(preharvest['harvested_ha'], errors='coerce')

preharvest['yield']=preharvest['production_mt']/preharvest['harvested_ha']
# preharvest

# replance chiengi and milenge Districts
preharvest.replace('chienge', 'chiengi', inplace=True)
preharvest.replace('milenge', 'milengi', inplace=True)


len(preharvest.district.unique())

len(preharvest.district.unique())
preharvest

,district,planted_ha,harvested_ha,production_mt,yield(mt/ha),year,yield
0,chadiza,21652,13568,40629,1.88,2016,2.994472
1,chadiza,25395,22957,61135,2.41,2014,2.663022
2,chadiza,22041,18985,57891,2.63,2020,3.049302
3,chadiza,18486,10822,24018,1.30,2018,2.219368
4,chadiza,22368,18897,47666,2.13,2019,2.522411
...,...,...,...,...,...,...,...
881,zambezi,5399,4397,10132,1.88,2013,2.304298
882,zambezi,7920,7340,14418,1.82,2011,1.964305
883,zambezi,6350,5533,18935,2.98,2021,3.422194
884,zambezi,4163,3595,7284,1.75,2012,2.026147
885,zambezi,6650,5109,9911,1.49,2017,1.939910

In [ ]:
# save cleaned preharvest data
preharvest.to_csv('data/preharvest/preharvest_cleaned.csv', index=False)