In [8]:
# importing modules
import pandas as pd
import numpy as np
import pandas as pd
import geopandas as gpd
from bokeh.layouts import gridplot
from bokeh.plotting import figure, show
from bokeh.models import GeoJSONDataSource, ColumnDataSource, HoverTool
from bokeh.palettes import Viridis256, Inferno256, Magma256
from bokeh.palettes import BrBG, PiYG, RdGy, RdYlGn, YlGnBu
from bokeh.models import LinearColorMapper, ColorBar

In [9]:
# shapefile column renaming
districts_shp=gpd.read_file('data/shp/zmb_district_cleaned.shp')
province_shp=gpd.read_file('data/shp/zmb_district_cleaned.shp')

In [10]:
# Reading the data
# read files
rheas_chirps= pd.read_csv('data/rheas/maize_zmb_n_25_chirps_cul1_fertilizer50.csv')

In [11]:
# convert columns to lower and cname names
rheas_chirps.columns=rheas_chirps.columns.str.lower()
rheas_chirps['cname']=rheas_chirps['cname'].str.lower()
rheas_chirps['cname']=rheas_chirps['cname'].str.strip()
rheas_chirps['cname']=rheas_chirps['cname'].str.replace('-', '', regex=True)

In [12]:
# convert dates and calculate yield
rheas_chirps['planting']=pd.to_datetime(rheas_chirps['planting'], format='ISO8601')
rheas_chirps['harvest']=pd.to_datetime(rheas_chirps['harvest'], format='ISO8601')
rheas_chirps['harvest']=pd.to_datetime(rheas_chirps['harvest'], format='ISO8601')
rheas_chirps['year'] = rheas_chirps['planting'].dt.year
rheas_chirps['yield']=rheas_chirps['gwad']/1000

In [16]:
#season [10,11,12, 1,2,3,4,5,6]
# #  part1=[1,2, 3, 4,5,6], part1 = [10, 11, 12], season part1=[10, 11, 12]
# rheas_chirps_part1=rheas_chirps

# part1 = ['none', 'none', 'none','none','none','none','none','none','none','yes','yes','yes']
# month_to_part1=dict(zip(range(1,13), part1))
# rheas_chirps_part1['season']= rheas_chirps_part1['planting'].dt.month.map(month_to_part1)
rheas_chirps_part1=rheas_chirps
part1 = ['no', 'yes', 'yes', 'yes','yes', 'yes', 'none', 'none', 'none', 'none', 'none', 'none']
month_to_part1=dict(zip(range(1,13), part1))
rheas_chirps_part1['season']= rheas_chirps_part1['planting'].dt.month.map(month_to_part1)
rheas_chirps_part1

# rheas_chirps_part2=rheas_chirps
# part2 = ['yes', 'yes', 'yes', 'yes','yes', 'yes', 'none', 'none', 'none', 'none', 'none', 'none']
# month_to_part2=dict(zip(range(1,13), part2))
# rheas_chirps_part2['season']= rheas_chirps_part2['planting'].dt.month.map(month_to_part2)
rheas_chirps_part1[rheas_chirps_part1['season']=='no']

,cname,planting,harvest,lai,wsgd,gwad,year,yield,season
0,kanchibiya,1998-01-01,1998-05-11,0.45,0.0,3751,1998,3.751,no
1,kaoma,1998-01-01,1998-05-11,0.45,0.0,3752,1998,3.752,no
2,kabompo,1998-01-01,1998-05-11,0.45,0.0,3753,1998,3.753,no
3,kapiri mposhi,1998-01-01,1998-05-11,0.45,0.0,3751,1998,3.751,no
4,chipili,1998-01-01,1998-05-11,0.45,0.0,3751,1998,3.751,no
...,...,...,...,...,...,...,...,...,...
163795,nakonde,2017-01-09,2017-05-24,0.42,0.0,4372,2017,4.372,no
163796,nakonde,2017-01-10,2017-05-26,0.43,0.0,4525,2017,4.525,no
163797,nakonde,2017-01-10,2017-05-26,0.43,0.0,4529,2017,4.529,no
163798,nakonde,2017-01-12,2017-05-27,0.42,0.0,4484,2017,4.484,no
163799,nakonde,2017-01-12,2017-05-27,0.42,0.0,4486,2017,4.486,no

In [ ]:
# Extract data only for the seasons
rheas_chirps_part1= rheas_chirps_part1.loc[rheas_chirps_part1['season']=='yes']
rheas_chirps_part2= rheas_chirps_part2.loc[rheas_chirps_part2['season']=='yes']

In [ ]:

# extract data for 2022 and 2023 only
rheas_chirps_2022_2=rheas_chirps_part2.loc[rheas_chirps_part2['year']==2022].reset_index()
rheas_chirps_2023_1=rheas_chirps_part1.loc[rheas_chirps_part1['year']==2023].reset_index()
rheas_chirps_2022=pd.concat([rheas_chirps_2022_2,rheas_chirps_2023_1],axis=0)

In [ ]:
# # aggregate 
rheas_chirps_2022=rheas_chirps_2022.groupby(['cname'], as_index=False).agg({'yield': 'mean'})
rheas_chirps_2022

Empty DataFrame
Columns: [cname, yield]
Index: []

In [ ]:
# Read shapefiles and rename columns
country_shapefile = gpd.read_file("data/shp/gadm36_ZMB_0.shp")
district_shp = gpd.read_file("data/shp/gadm36_ZMB_2.shp")


# Rename kenya_shp 
district_shp=district_shp.rename(columns={'NAME1':'cname'})
# district_shp['cname']=district_shp['NAME_2']
# len(district_shp.cname.unique())
district_shp['cname']=district_shp['cname'].str.lower()
district_shp['cname']=district_shp['cname'].str.replace('-', '', regex=True)
district_shp['cname']=district_shp['cname'].str.strip()
len(district_shp.cname.unique())

72

In [ ]:
# Merge data into shapefiles
tamsat_2022 = pd.merge(district_shp, rheas_tamsat_2022, on="cname")

NameError: name 'rheas_tamsat_2022' is not defined

In [ ]:
geo_source_tamsat_2022 = GeoJSONDataSource(geojson=tamsat_2022.to_json())
country_geo_source = GeoJSONDataSource(geojson=country_shapefile.to_json())

In [ ]:
color_mapper = LinearColorMapper(palette="RdBu10", low=3.0, high=3.5)
p1 = figure(title='Unimodal_Long Rains Season Yield (mt/ha) - 2022',
           outer_width=350, outer_height=300)

p1.multi_line('xs','ys', source=country_geo_source,
            line_color='black', line_width=0.5)

p1.patches('xs','ys', source=geo_source_tamsat_2022,
          fill_color={'field': 'yield', 'transform': color_mapper},
          fill_alpha=0.7, line_color='black', line_width=0.5)

hover = HoverTool(tooltips=[('District: ', '@cname'), ('Yield', '@yield')])
p1.add_tools(hover)

color_bar = ColorBar(color_mapper=color_mapper, label_standoff=8, width=20, height=300,
                     border_line_color=None, location=(0,0), orientation='vertical')
p1.add_layout(color_bar, 'right')

In [ ]:
# color_mapper = LinearColorMapper(palette="RdBu10", low=3.0, high=3.5)
# p2 = figure(title='Bimodal_MAM Season Yield (mt/ha) - 2022',
#            outer_width=350, outer_height=300)

# p2.multi_line('xs','ys', source=country_geo_source,
#             line_color='black', line_width=0.5)

# p2.patches('xs','ys', source=geo_source_mam_2022,
#           fill_color={'field': 'yield', 'transform': color_mapper},
#           fill_alpha=0.7, line_color='black', line_width=0.5)

# hover = HoverTool(tooltips=[('District: ', '@cname'), ('Yield', '@yield')])
# p2.add_tools(hover)

# color_bar = ColorBar(color_mapper=color_mapper, label_standoff=8, width=20, height=300,
#                      border_line_color=None, location=(0,0), orientation='vertical')
# p2.add_layout(color_bar, 'right')

In [ ]:
# # Bimodal Season 2022
# color_mapper1 = LinearColorMapper(palette="RdBu10", low=3.0, high=3.5)
# p3 = figure(title=' Bimodal_ MAM Season  Yield(mt/Ha) - 2023',
#            outer_width=350, outer_height=300)

# p3.multi_line('xs','ys', source=country_geo_source,
#             line_color='black', line_width=0.5)

# p3.patches('xs','ys', source=geo_source_mam_2023,
#           fill_color={'field': 'yield', 'transform': color_mapper1},
#           fill_alpha=0.7, line_color='black', line_width=0.5)

# hover = HoverTool(tooltips=[('District', '@cname'), ('Yield', '@yield')])
# p3.add_tools(hover)

# color_bar = ColorBar(color_mapper=color_mapper1, label_standoff=8, width=20, height=300,
#                      border_line_color=None, location=(0,0), orientation='vertical')
# p3.add_layout(color_bar, 'right')

In [ ]:
# # Bimodal Season 2022
# color_mapper1 = LinearColorMapper(palette="RdBu10", low=3.0, high=3.5)
# p4 = figure(title='Bimodal_OND Season  Yield(mt/ha) - 2022',
#            outer_width=350, outer_height=300)

# p4.multi_line('xs','ys', source=country_geo_source,
#             line_color='black', line_width=0.5)

# p4.patches('xs','ys', source=geo_source_ond_2022,
#           fill_color={'field': 'yield', 'transform': color_mapper1},
#           fill_alpha=0.7, line_color='black', line_width=0.5)

# hover = HoverTool(tooltips=[('District', '@cname'), ('Yield', '@yield')])
# p4.add_tools(hover)

# color_bar = ColorBar(color_mapper=color_mapper1, label_standoff=8, width=20, height=300,
#                      border_line_color=None, location=(0,0), orientation='vertical')
# p4.add_layout(color_bar, 'right')

In [ ]:

# grid=gridplot([ p2, p3, p4, p1],ncols=2, width=650, height=600)
# grid = gridplot([[p2, p3], [None, p4]], width=650, height=600)
grid = gridplot([p1,], ncols=1, width=650, height=600)
show(grid)

In [ ]:
from bokeh.io import save
# # # specify the output file name and location
save(grid, filename='../zambia.html', title='Maize Yield Maps')

C:\Users\kasit\AppData\Local\Temp\ipykernel_9576\1141731985.py:3: UserWarning: save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN
  save(grid, filename='../zambia.html', title='Maize Yield Maps')

'd:\\RONO\\rheas\\maize_crop_modeling\\zambia.html'